html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;

}


.about{
    background-color: #ececec;
    padding: 20px;
    font-size: 20px;
}

.about h1 , h2 {
    text-align: center;
}


/*  Header */

.header_middle, .header_bottom, .header_top{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.header_top {
    margin-top: 10px ;
    justify-content: space-evenly;

}
.header_top select {
    border-radius: 5px;
    height: 50px;
    font-size: 14px;
}
.header_top .left_group_buttons,
.header_top p ,
.header_top .Right_group_buttons {

    flex: 1;
    text-align: center;

}

.header_top p {
    margin-top: 20px;
}

.header_top button{
    height: 60px;
    width: 100px;
    font-size: 14px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
}
.header_top button:hover{
    background-color: #15213D;
    color: #cccccc;


}

/*header middle*/
.header_middle{
    background-color: #15213D ;
    color: #cccccc;

}

.header_middle h1 {
    margin-top: 30px;


}
.search-container {
    margin-top: 30px;
    height: 40px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.search-container input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 200px;
}

.search-container button {
    background-color: #007bff;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px;
    cursor: pointer;
}

button img {
    width: 20px;
    height: 20px;
}

/*header bottom*/
.header_bottom{

}


/* Navigation Styles */
nav {
    /*background-color: #15213D;*/
    font-size: 20px;
    padding:  12px;

}

nav ul {
    list-style: none;
    display: flex;


    padding: 10px;
}

nav li {
    position: relative;
}

nav a {
    text-decoration: none;
    color: #454545;
    padding: 10px;
    display: block;
}

/* Sub-navigation Styles */
.submenu ul {
    display: none;
    position: absolute;
    background-color: #ffff;

    border: 1px solid #ccc;
    border-radius: 20px;
}
.submenu2 ul {
    display: none;
    position: absolute;
    background-color: #ffff;
    border: 1px solid #ccc;
    border-radius: 20px;
}

nav a:hover{
    color: crimson;

}

.submenu:hover > ul {
  display: inline-block;


    /* display : block ; */

}

.submenu2:hover > ul {
    display: flex;


    /* display : block ; */

}

/*body */




/*footer*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 5px;
}

footer p {
    text-align: center;

}


